<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta charset="UTF-8" />
        <meta name="google" value="notranslate" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>SUNX BLOG</title>
        <script src="/src/components/common/paceProgress/pace.js"></script>
        <link
            rel="stylesheet"
            href="/src/components/common/paceProgress/themes/blue/pace-theme-flash.css"
        />
    </head>

    <body>
        <div id="root"></div>
    </body>
</html>
